:root {
    box-sizing: border-box;
    --status-inactive: rgb(25, 25, 25);
    --status-active: #8057d7;
    --circle-inactive: #373737;
    --status-circle-inactive: #5a5a5a;
    --left-color: #26282c;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    background-color: rgb(25, 25, 25);
    color: white;
    min-height: 90vh;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
}
main {
    display: inline-block;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;

    width: fit-content;
}
@media (max-width: 1024px) {
    main {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
}

h1 {
    text-align: center;
    color: var(--status-active);
    font-size: 4rem;
    margin: 0;
    white-space: pre-wrap;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

#left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 35rem;
    aspect-ratio: 16/9;
    background-color: #26282c;
}
#right {
    width: 35rem;
    aspect-ratio: 16/9;
}
/* scale on low resolutions */
@media (max-width: 560px) {
    * {
        font-size: 2.85vw;
    }
}

.video-player {
    width: 100%;
    height: 100%;
    background-color: red;
}

/* FILE CLASSES */
.file {
    display: none;
}
.file-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.5;
    gap: 0.75rem;
}
.file-label {
    padding: 0.25rem 0.5rem;
    border: 1px solid white;
    border-radius: 0.25rem;
    font-size: 1.25rem;
    background-color: rgb(25, 25, 25);
}
.file-selected,
.status-main {
    cursor: default;
}
.file:disabled + .file-label {
    border-color: rgb(100, 100, 100);
    color: rgb(100, 100, 100);
    cursor: not-allowed;
}
.file:not(:disabled) + .file-label:hover {
    background: rgb(50, 50, 50);
    cursor: pointer;
}

/* BUTTON CLASSES */
button {
    appearance: none;
    line-height: 1.5;
    background-color: rgb(25, 25, 25);
    color: white;
    border-radius: 0.25rem;
    border: 1px solid white;
    padding: 0.25rem 0.5rem;
    font-size: 1.25rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
}
button:disabled {
    border-color: rgb(100, 100, 100);
    color: rgb(100, 100, 100);
    cursor: not-allowed;
}
.btn-upload:not(:disabled):hover {
    background: rgb(50, 50, 50);
    cursor: pointer;
}
/* STATUS CLASSES */
.status-main {
    font-size: 1.25rem;
}
.status-container {
    display: none;
    gap: 3rem;
}
.status-container.active {
    display: flex;
}

.status-container > li {
    --line-color-1: var(--status-inactive);
    --line-color-2: var(--status-inactive);
    --line-color-3: var(--status-inactive);
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 3rem;
}
.status-video-details > li {
    --line-color-1: var(--status-inactive);
    --line-color-2: var(--status-inactive);
    margin: 0 auto;
}
.status-container > li:first-child::after {
    background-color: var(--line-color-1);
}
.status-container > li:nth-child(2)::after {
    background-color: var(--line-color-2);
}
.status-container > li:last-child::after {
    background-color: var(--line-color-3);
}
.status-container > .status:not(:last-child)::after {
    content: "";
    width: 4rem;
    height: 0.125rem;
    position: absolute;
    top: 3.375rem;
    left: 2.5rem;
}

.status-container > li > span,
.status-video-details > li > span {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.125rem solid var(--status-inactive);
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    background-color: var(--circle-inactive);
    z-index: 1;
}

.status-container > li > span.progress,
.status-video-details > li > span.progress {
    border: 0.125rem solid var(--status-active);
    background-color: transparent;
}

.status-container li > span.active,
.status-video-details > li > span.active {
    border: 0.125rem solid var(--status-active);
    background-color: var(--status-active);
    color: var(--left-color);
}

.status-video-details {
    position: relative;
    display: flex;
    gap: 1rem;
}

.status-video-details li > span.status-360::after {
    content: "";
    width: 2.5rem;
    height: 0.125rem;
    background-color: var(--line-color-1);
    position: absolute;
    transform: rotate(-45deg);
    top: -0.7rem;
    left: 1.3rem;
    right: 0;
    bottom: 0;
}

.status-video-details li > span.status-480::after {
    content: "";
    width: 1.15rem;
    height: 0.125rem;
    background-color: var(--line-color-2);
    position: absolute;
    transform: rotate(-90deg);
    top: -0.55rem;
}

.status-video-details li > span.status-720::after {
    content: "";
    width: 2.5rem;
    height: 0.125rem;
    background-color: var(--line-color-3);
    position: absolute;
    transform: rotate(45deg);
    top: -0.7rem;
    right: 1.3rem;
}
